<body>
    <div style="border:2px solid #000000; text-align:center; width:100%;">
      <h1 style="font-size:25px; color:#0f0097">Welcome to the admin panel!</h1>
    </div>
    &nbsp;&nbsp; 
    <div style="border:2px solid #000000; text-align:center; width:50%;">
        <h1 style="font-size:25px; color:hsl(115, 100%, 30%)">Add & remove cars:</h1>
        &nbsp;&nbsp; 
      </div>
      &nbsp;&nbsp; 
      <div style="border:2px solid #000000; text-align:center; width:50%;">
          <h1 style="font-size:25px; color:hsl(115, 100%, 30%)">Change car information:</h1>
          &nbsp;&nbsp; 
        </div>
        &nbsp;&nbsp; 
      <div style="border:2px solid #000000; text-align:center; width:50%;">
          <h1 style="font-size:25px; color:hsl(115, 100%, 30%)">change the drop-off and pick-up location:</h1>
          &nbsp;&nbsp; 
        </div>

