<div *ngIf="displayForm">

  <h1>Choose a car best for you and fill in the form or login to complete rent</h1>

  <table *ngIf="carsnearby != []" style="width:100%">
    <tr>
      <th>Selected Carmodel = {{carmodel.name}}</th>
      <th>Mile Age</th>
      <th>Location</th>
      <th>Select Car</th>
    </tr>
    <tr *ngFor="let car of carsnearby">
      <td>{{car.licenseplate}}</td>
      <td>{{car.mileage}}</td>
      <td>{{car.locationcode}}</td>
      <td><button type="sumbit" (click)="selectCar(car.licenseplate)">+</button></td>
    </tr>
  </table>
  <br>
  <b>You chose this car:</b>
  <p>License plate: {{chosenCar.licenseplate}}</p>
  <p>Location code: {{chosenCar.locationcode}}</p>

  <h1 *ngIf="displayForm">If you already have an account, <a href="https://localhost:5001/login">Login here!</a> </h1>

  <label for="email"><b>Email</b></label>
  <input formControlName="emailaddress"><br>

  <label for="firstname"><b>First name</b></label>
  <input formControlName="givenname"><br>

  <label for="lastname"><b>Last name</b></label>
  <input formControlName="familyname"><br>

  <label for="city"><b>City</b></label>
  <input type="text" formControlName="city" required><br>

  <label for="address"><b>Address</b></label>
  <input type="text" formControlName="address" required><br>

  <label for="zip"><b>Zip code</b></label>
  <input type="text" formControlName="zip" required><br>

  <label for="phonenumber"><b>Phonenumber</b></label>
  <input type="text" formControlName="phonenumber" required><br>

  <button type="submit" [disabled]="!customerrentProfile.valid" (click)="onSubmit()">Continue to payment</button>
  <br>
</div>

<div *ngIf="displayPayment">
  <b>The total price is:</b>
  <p> GPS: +€{{gpscost}}</p>
  <p> Childseat: +€{{childseatcost}}</p>
  <p> Car rent: +€{{totalprice}}</p>
  <p>-----------------</p>
  <p> €{{totalprice+childseatcost+gpscost}}</p><br>
  <p> Payment method: <br> &nbsp; <input type="radio" class="radio" id="Creditcard" name="parameter[]" checked />
    Creditcard
    &nbsp; &nbsp; <input type="radio" class="radio" id="iDeal" name="parameter[]" /> iDeal <br> </p>

  <button type="submit" (click)="finishBooking()">Pay</button>
</div>

<div id="CompleteBooking" *ngIf="!displayForm&&!displayPayment">
  <br><br>
  <h1>You have succesfully complete your booking!</h1>
  <table>
    <tr>
      <th>Booking Date</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Pick Up location</th>
      <th>Drop Off Location</th>
      <th>Car</th>
      <th>License plate</th>
      <th>Total Price</th>
    </tr>
    <tr>
      <td>{{bookingdate}}</td>
      <td>{{startdate}}</td>
      <td>{{enddate}}</td>
      <td>{{chosenCar.locationcode}}</td>
      <td>{{dropofflocation}}</td>
      <td>{{carmodel.description}}</td>
      <td>{{chosenCar.licenseplate}}</td>
      <td>{{totalprice+gpscost+childseatcost}}</td>
    </tr>
  </table>
  <br>
  <button type="submit" [routerLink]="['/cars']">Return to HomePage</button>
</div>