<h> <b> Our Policy And Terms: </b> </h>

<p> You should be aware of the fact that when you agree to our policy and terms you also agree to this: <br>
    * You are having a valid drivers license. <br>
    * You are 18 years or older. <br>
    * You are aware of our damage policy. <br>
    -> We take pictures of the car before the customer is going to take the car of the pickuplocation. <br>
       When the customer returns the car to the dropofflocation we are going to check it and when the car has damage. <br>
       We are going to check the insurance you took when renting the damaged car. <br>
       If the customer has all-risk insurance he is good to go after paying his own risk. <br>
       If the customer doesn't have all-risk insurance, we are obligated to make an estimation of the money that is needed to repare the car. <br>
       You can't leave before you paid the money for the damage repair. <br>
    * You are aware that every speed fine will be sended to you. (If you are the one that rented the car at the time the crime occured.) <br>
</p>