<div *ngIf="user != null">
    <h1>Account info: </h1>

    <h2>- Name: {{user.givenname}} {{user.familyname}}</h2>
    <h2>- Address: {{user.address}}, {{user.city}}, {{user.countrycode}}</h2>
    <h2>- Email: {{user.emailaddress}}</h2>
    <h2>- Phonenumber: {{user.phonenumber}}</h2>

    <button type="submit" [routerLink]="['/cars']" (click)="logout()">log out</button>
</div>
<div *ngIf="user == null">

    <h1>You logged out succesfully!</h1>

    <button type="submit" [routerLink]="['/login']">Go to Login</button><br><br>
    <button type="submit" [routerLink]="['/cars']">Go to Homepage</button>
</div>