#box1 {
    float: left;
    background: white;
    width: 20%;
    height: 450px;
    border: 2px solid green;
  }

  #box2 {
    float: left;
    background: white;
    width: 60%;
    height: 450px;
    border: 2px solid green;
  }

  #box3 {
    float: right;
    background: white;
    width: 20%;
    height: 450px;
    border: 2px solid green;
  }

  #submitButton {
    display: block;
    text-align: center;
    margin: auto;
    width: 126px;
  }

  #oblique {
    font-style: oblique;
    width: 182px;
  }
