<html>

<head>
  <title>Login & Register Page</title>
</head>

<div class="col-md-6 offset-md-3 mt-5"></div>

<body>
  <div class="loginImage">
    <img src="https://icon-library.com/images/log-in-icon/log-in-icon-2.jpg" alt="Avatar" class="avatar"> <br> <br>
  </div>
  <div [formGroup]="loginForm" class="loginForm">
    <label for="username"><b>Username&nbsp;</b></label>
    <input id="username" placeholder="Enter your Username" formControlName="username">
    <br>
    <label for="psw"><b>Password&nbsp;</b></label>
    <input id="password" type="password" placeholder="Enter your Password" formControlName="password">
    <br>
    <button id="loginSubmit" type="sumbit" (click)="login()" [disabled]="!loginForm.valid">Login</button>
    <br><br>
    <td>Don't have an account yet? <a href="https://localhost:5001/register">Register here!</a> </td>
  </div>

  <div *ngIf="user != null">
    <h1>You logged in succesfully!</h1>
  </div>

</body>

</html>