<html>

<head>
  <title>Login & Register Page</title>
</head>

<body>
  <div class="loginImage">
    <img src="http://icon-library.com/images/log-in-icon/log-in-icon-2.jpg" alt="Avatar" class="avatar"> <br> <br>
  </div>
  <div class="loginForm">
    <label for="email"><b>E-mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
    <input id="email" placeholder="Enter your E-mail">
    <br>
    <label for="psw"><b>Password&nbsp;</b></label>
    <input id="email" placeholder="Enter your Password">
    <br>
    <button id="loginSubmit">Login</button>
  </div>
  <br><br>
  <td>Don't have an account yet? <a href="http://localhost:4200/register">Register here!</a> </td>
</body>

</html>
